<?xml version="1.0"?>

<model>
  <name>halfSphere</name>
  <version>1.0</version>
  <sdf version="1.6">halfSphere.sdf</sdf>

  <author>
    <name>marooncn</name>
    <email>marooncn@163.com</email>
  </author>

  <description>
    A halfSphere model used for robot grasping.
  </description>
</model>
